.button{
    color: rgb(255, 255, 255);
    background-color: rgb(111, 113, 122);
    width: fit-content;
    max-width: 100%;
    box-sizing: border-box;
    padding: 10px 16px;
    position: relative;
    z-index: 2;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    cursor: pointer;
    pointer-events: auto;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    white-space: nowrap;
    transition: color 0.2s ease 0s, background-color 0.2s ease 0s, box-shadow 0.2s ease-in-out 0s opacity 150ms;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 25px, rgba(0, 0, 0, 0.1) 0px 0px 25px;
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
}
