.container {
    cursor: grab;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 24px 16px 36px;
    box-shadow: var(--border-thin-color) 0px 1px 0px 0px;
}

.container:active {
    opacity: 0.7;
    box-shadow: var(--border-thin-color) 0px 1px 0px 0px;
    background-color: var(--active-item-color);
}

.leftSide {
    display: flex;
    align-items: center;
}
.chekedIconWrapper {
    position: relative;
    display: flex;
    align-items: center;
}
.chekedIcon {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid var(--hover-item-color);
    background: transparent;
    color: transparent;
}

.focusedIcon {
    /* cursor: pointer; */
    /* position: absolute; */
    display: none;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid var(--text-hover-color);
    background-color: var(--item-bg-color);
    color: var(--text-hover-color);
}

.chekedIconWrapper:hover .focusedIcon {
    display: flex;
}
.chekedIconWrapper:hover .chekedIcon {
    display: none;
}
.focusedIconActive {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: var(--checked-icon-color);
    background: var(--checked-icon-bg);
    border: none;
}

.text {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: var(--text-hover-color);
}

.container:hover {
    background-color: var(--hover-item-color);
}

.container:hover .chekedIcon {
    border-color: var(--box-border-thick);
    color: var(--box-border-thick);
}
.rightSide {
    display: flex;
    align-items: center;
    gap: 8px;
}

.textWithTags {
    margin-left: 16px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 8px;
}

.tag {
    background-color: var(--hover-item-color);
    padding: 2px 8px;
    border-radius: 20px;
    color: var(--text-color);
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
}
