.button,
.buttonNoBackground {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: fit-content;
    line-height: 20px;
    padding: 4px 12px;
    border: none;
    border-radius: 16px;
    color: var(--text-color);
    transition: background-color 0.1s ease-in-out 0s;
    white-space: nowrap;
    max-width: max-content;
    overflow: hidden;
}

.button {
    background-color: var(--button-bg-color);
}

.buttonNoBackground {
    background-color: transparent;
}

.button:hover,
.buttonNoBackground:hover {
    background-color: var(--button-hover-color);
    color: var(--text-hover-color);
    cursor: pointer;
}

.button:disabled {
    background-color: var(--button-disabled-color);
    color: var(--button-disabled-text);
}

.buttonNoBackground:disabled {
    color: var(--button-disabled-text);
}

.button:active {
    transform: scale(0.99, 0.98);
}

.buttonNoBackground:active {
    transform: scale(0.98);
}

.icon {
    width: 12px;
    height: 12px;
    margin-right: 8px;
}

.text {
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
