.button,
.buttonNoBackground {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 4px 12px;
    border: none;
    border-radius: 16px;
    
    color: rgba(255, 255, 255, 0.5);
    transition: background-color 0.1s ease-in-out 0s;
    white-space: nowrap;
}

.button {
    background-color: rgba(255, 255, 255, 0.05);
}

.buttonNoBackground {
    background-color: transparent;
}

.button:hover,
.buttonNoBackground:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
}

.button:disabled {
    background-color: #1e1e1e;
    color: rgba(255, 255, 255, 0.2);
}

.buttonNoBackground:disabled {
    color: rgba(255, 255, 255, 0.2);
}

.button:active{
    transform: scale(0.99, 0.98);
}

.buttonNoBackground:active{
    transform: scale(0.98);
}

.icon {
    width: 12px;
    height: 12px;
    margin-right: 8px;
}

.text {
    font-size: 14px;
    white-space: nowrap;
}
