.container {
    width: calc((100% - 32px) / 3);
    min-width: 170px;
    height: 224px;
    border-radius: 12px;
    padding: 12px 16px;
    background-color: var(--hover-item-color);
    cursor: pointer;
    color: var(--text-color);
}

.container:hover {
    box-shadow: var(--box-border-thick) 0px 0px 0px 1px;
    color: var(--text-hover-color);
}

.title {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    overflow: hidden;

    & .icon {
        flex-shrink: 0;
    }
}

@container (max-width: 621px) and (min-width: 436px) {
    .container {
        flex: 1 1 calc((100%) / 2);
        max-width: calc((100% - 16px) / 2);
    }
}

@container (max-width: 435px) {
    .container {
        flex: 1 1 100%;
        max-width: 100%;
    }
}
