.wrapper {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    position: relative;
    height: calc(100% - 16px);
    width: calc(100% - 16px);

    background-color: var(--dark-secondary);
    color: var(--dark-text-primary);
    border-radius: 6px;
    box-shadow: var(--box-shadow-color) 0px 4px 32px, var(--box-border-thick) 0px 0px 0px 1px;
    overflow: hidden;
}

.buttons{
    position: absolute;
    top: 12px;
    right: 16px;
    align-items: center;
    column-gap: 8px;
    display: flex;
}

.contentBox{
    width: 100%;
    padding: 48px 80px 160px;
    min-height: 880px;
    word-wrap: break-word;
    white-space: pre-wrap;
}
