.container {
    cursor: pointer;
    position: relative;
    width: 100%;
    min-height: 80px;
    border-radius: 12px;
    padding: 6px 12px 12px 12px;
    background-color: var(--item-bg-color);
    box-shadow:
        var(--box-shadow-color) 0px 4px 8px,
        var(--box-border-color) 0px 0px 0px 1px;
}
.containerActive {
    cursor: pointer;
    position: relative;
    z-index: 10;
    width: 100%;
    min-height: 80px;
    border-radius: 12px;
    padding: 6px 12px 12px 12px;
    background: var(--item-bg-color);
    box-shadow:
        var(--box-shadow-color) 0px 4px 8px,
        var(--text-color) 0px 0px 0px 2px;
}

.container:hover {
    box-shadow:
        var(--box-shadow-color) 0px 4px 8px,
        var(--box-border-thick) 0px 0px 0px 1px;
}

.tag {
    position: absolute;
    display: flex;
    opacity: 0;
    top: 8px;
    right: 8px;
}
.tagActive {
    position: absolute;
    display: flex;
    opacity: 1;
    top: 8px;
    right: 8px;
}
.container:hover .tag {
    opacity: 1;
}

.containerActive:hover .tag {
    opacity: 1;
}

.containerActive:hover .tag {
    display: flex;
}
.title {
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: var(--text-hover-color);
    padding: 6px 16px 4px 0px;
    cursor: pointer;
}

.item {
    font-size: 8px;
    line-height: 12px;
    margin: 8px 0;
    color: var(--text-hover-color);
    cursor: pointer;
}

.icon {
    position: relative;
    left: -6px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
}
.tagText {
    background-color: var(--hover-item-color);
    padding: 2px 8px;
    border-radius: 20px;
    color: var(--text-color);
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
}
.chekedIcon {
    position: absolute;
    top: -8px;
    left: -8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: var(--text-color);
    border: 1px solid var(--box-border-thick);
    background: var(--item-bg-color);
    display: none;
}
.chekedIcon:hover {
    border: 1px solid var(--text-hover-color);
    color: var(--text-hover-color);
}

.chekedIconActive {
    position: absolute;
    top: -8px;
    left: -8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: var(--checked-icon-color);
    background: var(--checked-icon-bg);
    backdrop-filter: blur(1rem);
}

.container:hover .chekedIcon {
    display: flex;
}

.labelMenu {
    position: absolute;
    top: 32px;
    right: 0;
    z-index: 20;
}
