.message,
.messageWithHover {
    position: relative;
    padding: 16px 20px;
    transition:
        color 250ms ease 0s,
        background-color 250ms ease 0s;
    color: rgb(0, 0, 0);
    cursor: pointer;
    display: flex;
    align-items: center;
}

.messageWithHover:hover {
    background-color: rgba(0, 0, 0, 0.06);
}

.image {
    border-radius: 20px;
    margin-right: 8px;
}

.messageContent {
    display: flex;
    flex-flow: column;
    flex: 1 1 auto;
}

.messagePreviewContainer {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
    font-weight: 400;
}

.messagePreview,
.messageInfoContainer {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol";
}

.messagePreview {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.messageInfoContainer {
    color: rgb(102, 102, 102);
    display: flex;
    white-space: break-spaces;
}

.arrowIcon {
    color: rgb(102, 102, 102);
}

.separator {
    position: absolute;
    height: 1px;
    bottom: 0px;
    left: 20px;
    right: 20px;
    background-color: rgba(0, 0, 0, 0.06);
}
