.homeWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    background: linear-gradient(to bottom, rgb(245, 244, 241), rgb(255, 255, 255));
}

.headerWrapper {
    padding: 32px 36px 0px 36px;
}

.imageDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}

.dude {
    border-radius: 20px;
    margin-right: 40px;
}

.logo {
    margin-top: 4px;
}

.textDiv {
    font-size: 28px;
    line-height: 34px;
    font-weight: 700;
    display: block;
}

.h1 {
    color: rgb(134, 131, 121);
    margin: 0px;
    display: block;
}

.h2 {
    color: rgb(0, 0, 0);
    display: block;
}

.buttonDiv{
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 14px;
}

.buttonDivWrapper{
    flex: 1 1 auto;
}