.container {
    position: relative;
    padding-left: 233px;
}

.labelDiv {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
    border: none;
    border-radius: 50%;
    outline: none;
    color: var(--text-color);
}

.labelDiv:hover {
    border: none;
    background-color: var(--hover-item-color);
    color: var(--text-hover-color);
}

.labelDivPressed {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
    border: none;
    border-radius: 50%;
    outline: none;
    color: var(--text-color);
}

.title {
    position: absolute;
    z-index: 12;
    bottom: -25px;
    left: 0;
    display: none;
    width: 75px;
    padding: 4px;
    border-radius: 8px;
    background-color: var(--tooltip-bg-color);
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    color: var(--text-hover-color);
}

.labelDiv:hover .title {
    display: inline;
}

.menu {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 256px;
    height: 80px;
    padding: 4px;
    border-radius: 12px;
    background: var(--item-bg-color);
    box-shadow:
        var(--box-shadow-color) 0px 4px 8px,
        var(--box-shadow-color) 0px 8px 24px,
        var(--box-border-color) 0px 0px 0px 1px;
}

.menu::after {
    position: absolute;
    top: 40px;
    left: -1px;
    content: " ";
    width: 258px;
    height: 1px;
    background-color: var(--border-thin-color);
}

.input {
    position: relative;
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    padding: 8px 12px;
    font-size: 14px;
    color: var(--text-hover-color);
}

.tagText {
    position: relative;
    padding: 8px 12px;
    font-size: 14px;
    color: var(--text-hover-color);
}

.createBtn {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    width: 248px;
    height: 32px;
    border: none;
    border-radius: 8px;
    padding: 8px 12px;
    background-color: transparent;
    overflow: hidden;
    font-size: 14px;
    color: var(--text-hover-color);
}

.createBtn:hover {
    background-color: var(--hover-item-color);
}
