.input {
    position: relative;
    overflow: hidden;
    transition: background-color 0.1s ease-in-out 0s;
    box-sizing: content-box;
    border: none;
    border-radius: 16px;
    padding: 4px 12px 4px 12px;
    background: transparent;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    color: var(--text-hover-color);
    white-space: nowrap;
    text-overflow: ellipsis;
}

.input::placeholder,
.kanbanInput::placeholder {
    color: var(--text-color);
}

.input:hover {
    background-color: var(--item-bg-color);
    cursor: text;
}

.input:focus {
    background-color: var(--hover-item-color);
    box-shadow: var(--box-border-color) 0px 0px 0px 1px inset;
    outline: none;
}

.kanbanInput {
    position: absolute;
    z-index: 999;
    left: 28px;
    transition: background-color 0.1s ease-in-out 0s;
    width: 101px;
    padding: 4px 12px;
    box-sizing: content-box;
    border: none;
    border-radius: 16px;
    background: transparent;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    color: var(--text-hover-color);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.kanbanInput:hover {
    background-color: var(--input-bg-color);
    cursor: text;
}

.kanbanInput:focus {
    box-shadow: var(--hover-item-color) 0px 0px 0px 1px inset;
    background-color: var(--item-bg-color);
    outline: none;
    width: 182px;
}
