.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 24px 16px 36px;
    box-shadow: rgba(255, 255, 255, 0.024) 0px 1px 0px;
}

.leftSide {
    display: flex;
    align-items: center;
}
.chekedIconWrapper {
    position: relative;
    display: flex;
    align-items: center;
}
.chekedIcon {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.05);
    background: transparent;
    color: rgba(255, 255, 255, 0);
}

.focusedIcon {
    /* cursor: pointer; */
    /* position: absolute; */
    display: none;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.8);
    background: transparent;
    color: rgba(255, 255, 255, 0.8);
}

.chekedIconWrapper:hover .focusedIcon {
    display: flex;
}
.chekedIconWrapper:hover .chekedIcon {
    display: none;
}
.focusedIconActive {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: rgba(255, 255, 255, 0.8);
    background: rgba(255, 255, 255, 0.5);
    border: none;
}

.text {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.8);
    margin-left: 16px;
}

.container:hover {
    background-color: rgba(255, 255, 255, 0.05);
    box-shadow:
        rgba(255, 255, 255, 0.024) 0px 1px 0px 0px,
        rgba(255, 255, 255, 0.024) 0px 1px 0p;
}
.container:hover .chekedIcon {
    border-color: rgba(255, 255, 255, 0.2);
    color: rgba(255, 255, 255, 0.2);
}
.rightSide {
    display: flex;
    align-items: center;
    gap: 8px;
}
