.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 223px;
    transition: transform 0.1s ease;
    padding-left: 16px;
    border-right: 1px solid var(--border-thin-color);
    background-color: var(--page-bg-color);
    color: var(--text-color);
    font-size: 14px;
    font-weight: 400;
}

.sidebar.open {
    transform: translateX(0);
}

.sidebar.closed {
    transform: translateX(-100%);
}

.sidebar .top {
    display: flex;
    flex-direction: column;
}

.sidebar .header {
    margin-top: 20px;
    margin-bottom: 16px;
    margin-left: 40px;
    width: fit-content;
    height: fit-content;
    border-radius: 20px;
    color: var(--text-color);
}

.sidebar .items {
    display: flex;
    flex-direction: column;
    gap: 1px;
    width: 191px;
}

.sidebar .divider {
    margin-top: 17px;
    margin-bottom: 1px;
    padding: 4px 8px;
    font-size: 12px;
    font-family: var(--font-inter);
    font-weight: 500;
}

.sidebar .items.bottom {
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin-bottom: 21px;
}

.sidebar .item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 28px;
    line-height: 20px;
    gap: 1px;
    padding: 7px 4px 7px 12px;
    border-radius: 15px;
    color: var(--text-color);
    text-decoration: none;

    & .plusIcon {
        margin: 0px 2px;
    }
}

.left {
    display: flex;
    align-items: center;
    gap: 8px;
    overflow: hidden;
}

.sidebar .left span {
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sidebar .item:hover,
.sidebar .active {
    background-color: var(--hover-item-color);
    color: var(--text-hover-color);
}

.sidebar .item:hover.active,
.sidebar .active:hover,
.sidebar .open .item {
    background-color: var(--active-item-color);
}

.sidebar.open .item .button:hover {
    background-color: var(--hover-item-color);
}

.sidebar .open .item .button {
    background-color: var(--hover-item-color);
    color: var(--text-color);
}

.sidebar .item:hover .button,
.sidebar .open .button {
    display: flex;
    opacity: 1;
}

.button {
    display: none;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    padding: 4px;
    border-radius: 15px;
    color: var(--text-hover-color);
    opacity: 0;
}

/* .button:hover,
.sidebar .open .button {
    background-color: var(--hover-item-color);
} */

.right {
    position: relative;
}
