.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 223px;
    transition: transform 0.1s ease;
    padding-left: 16px;
    border-right: 1px solid var(--dark-secondary);
    background-color: var(--dark-primary);
    color: var(--dark-text-secondary);
    font-size: 14px;
    font-weight: 600;
}

.sidebar.open {
    transform: translateX(0);
}

.sidebar.closed {
    transform: translateX(-100%);
}

.sidebar .top {
    display: flex;
    flex-direction: column;
}

.sidebar .header {
    margin-top: 20px;
    margin-bottom: 16px;
    margin-left: 40px;
    border-radius: 20px;
    width: fit-content;
    height: fit-content;
    color: var(--dark-text-secondary);
}

.sidebar .header:hover {
    background-color: var(--dark-secondary);
    color: var(--dark-text-primary);
}

.sidebar .items {
    display: flex;
    flex-direction: column;
    gap: 1px;
    width: 191px;
}

.sidebar .divider {
    margin-top: 17px;
    margin-bottom: 1px;
    padding: 4px 8px;
    font-size: 12px;
    font-family:
        var(--font-inter),
        var(--font-roboto),
        var(--font-oxygen),
        var(--font-ubuntu),
        var(--font-cantarell),
        var(--font-fira-sans),
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Arial,
        sans-serif;
    font-weight: 600;
}

.sidebar .items.bottom {
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin-bottom: 21px;
}

.sidebar .item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 28px;
    padding: 7px 4px 7px 12px;
    color: var(--dark-text-secondary);
    text-decoration: none;

    & .plusIcon {
        margin: 0px 2px;
    }
}

.left {
    display: flex;
    align-items: center;
    gap: 8px;
    overflow: hidden;
}

.sidebar .left span {
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sidebar .item:hover,
.sidebar .open .item {
    border-radius: 15px;
    background-color: rgb(50, 51, 51);
    color: rgba(255, 255, 255, 0.8);
    font-weight: 400;
}

.sidebar .open .item .button {
    color: var(--dark-text-secondary);
}

.sidebar .item:hover .button,
.sidebar .open .button {
    display: flex;
    opacity: 1;
}

.button {
    display: none;
    align-items: center;
    justify-content: center;
    padding: 4px;
    border-radius: 15px;
    color: var(--dark-text-primary);
    opacity: 0;
}

.button:hover,
.sidebar .open .button {
    background-color: rgb(60, 61, 61);
}

.right {
    position: relative;
}
