.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 44px;
    width: 100%;
    padding: 8px 24px 8px 0;
}
.contactDiv {
    display: flex;
    align-items: center;
}
.img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-right: 8px;
}
.name {
    font-size: 14px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.5);
}
.owner {
    padding: 4px 12px;
    color: rgba(255, 255, 255, 0.5);
    line-height: 20px;
    font-size: 16px;
}

.edit,
.editActive {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 4px 12px;
    border-radius: 16px;
    line-height: 20px;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.5);
}
.edit:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.8);
}
.arrow {
    transform: rotate(90deg);
}
.meniDiv{
    position: relative;
}
.menu {
    width: 192px;
    height: 80px;
    padding: 4px;
    background-color: rgb(39, 40, 41);
    box-shadow:
        rgba(0, 0, 0, 0.1) 0px 4px 8px,
        rgba(0, 0, 0, 0.1) 0px 8px 24px,
        rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    backdrop-filter: blur(8px);
    border-radius: 14px;
    position: absolute;
    top: 32px;
    right: 0;
    z-index: 100000;
}

.ediBtn,
.removeBtn{
    width: 100%;
    height: 36px;
    padding: 8px 12px;
    color: rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    line-height: 20px;
}

.ediBtn:hover,
.removeBtn:hover{
    color: rgba(255, 255, 255, 0.8);
    background-color: rgba(255, 255, 255, 0.05);
}

.removeBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 25px;
}

.ediBtn{
    display: flex;
    align-items: center;
    gap: 16px;
}
