.inner {
    padding: 4px;
    width: 232px;
    background: rgb(39, 40, 41);
    backdrop-filter: blur(1rem);
    box-shadow:
        rgba(0, 0, 0, 0.1) 0px 4px 8px,
        rgba(0, 0, 0, 0.1) 0px 8px 24px,
        rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
        border-radius: 12px;
}

.toggler {
    position: relative; /* Positioning */
    display: flex; /* Layout */
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 2px; /* Box model */
    margin-bottom: 4px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.05); /* Visual */
}

.mod {
    display: flex; /* Layout */
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: calc(100% / 3);
    height: 64px;
    font-weight: 400; /* Text */
    font-size: 14px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.5); /* Visual */
    gap: 4px;
}

.mod:hover,
.mod:focus {
    color: rgba(255, 255, 255, 0.8); /* Visual */
}

.item {
    display: flex; /* Layout */
    align-items: center;
    padding: 8px 12px; /* Box model */
    border-radius: 8px;
    gap: 10px;
    color: rgba(255, 255, 255, 0.5); /* Visual */
}

.itemTitle {
    font-weight: 400; /* Text */
    font-size: 14px;
    line-height: 20px;
}

.item:hover,
.item:focus {
    background-color: rgba(255, 255, 255, 0.05); /* Visual */
    color: rgba(255, 255, 255, 0.8);
}

.shadow {
    position: absolute; /* Positioning */
    top: 1.5px;
    left: 2px;
    z-index: -1;
    width: calc(100% / 3); /* Size */
    height: 64px;
    background-color: rgba(255, 255, 255, 0.1); /* Visual */
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 1px;
    border-radius: 6px;
    transition: left 0.1s ease-in-out;
}

.shadow.dark {
    left: 75px; /* Positioning */
}

.shadow.light {
    left: 2px; /* Positioning */
}

.shadow.auto {
    left: 148px; /* Positioning */
}
