.inner {
    padding: 4px;
    width: 232px;
    background-color: var(--item-bg-color);
    backdrop-filter: blur(1rem);
    box-shadow:
        var(--box-shadow-color) 0px 4px 8px,
        var(--box-shadow-color) 0px 8px 50px,
        var(--box-border-color) 0px 0px 0px 1px;
    border-radius: 12px;
    font-weight: 400;
    font-size: 14px;
}

.toggler {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 2px;
    margin-bottom: 4px;
    border-radius: 8px;
    background: var(--hover-item-color);
}
.mod {
    display: flex;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: calc(100% / 3);
    height: 64px;
    line-height: 20px;
    color: var(--text-color);
    gap: 4px;
}

.modActive {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: calc(100% / 3);
    height: 64px;
    line-height: 20px;
    color: var(--text-hover-color);
    gap: 4px;
}

.mod:hover,
.mod:focus {
    color: var(--text-hover-color);
}

.item {
    display: flex;
    display: flex;
    align-items: center;
    padding: 8px 12px;
    border-radius: 8px;
    gap: 10px;
    color: var(--text-color);
}

.itemTitle {
    line-height: 20px;
}

.item:hover {
    background-color: var(--hover-item-color);
    color: var(--text-hover-color);
}

.shadow {
    position: absolute;
    top: 2px;
    left: 2px;
    z-index: -1;
    width: calc(100% / 3);
    height: 64px;
    background-color: var(--hover-item-color);
    border-radius: 6px;
    transition: left 0.1s ease-in-out;
}

.shadow.dark {
    left: 75px;
}

.shadow.light {
    left: 2px;
}

.shadow.auto {
    left: 148px;
}
