.inner {
    padding: 4px;
    width: 232px;
    background: rgb(39, 40, 41);
    backdrop-filter: blur(1rem);
    box-shadow:
        rgba(0, 0, 0, 0.1) 0px 4px 8px,
        rgba(0, 0, 0, 0.1) 0px 8px 24px,
        rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    border-radius: 12px;
    font-weight: 400;
    font-size: 14px;
}

.toggler {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 2px;
    margin-bottom: 4px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.05);
}
.mod {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: calc(100% / 3);
    height: 64px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.5);
    gap: 4px;
}

.modActive {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: calc(100% / 3);
    height: 64px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.5);
    gap: 4px;
}

.mod:hover,
.mod:focus {
    color: rgba(255, 255, 255, 0.8);
}

.item {
    display: flex;
    align-items: center;
    padding: 8px 12px;
    border-radius: 8px;
    gap: 10px;
    color: rgba(255, 255, 255, 0.5);
}

.itemTitle {
    line-height: 20px;
}

.item:hover {
    background-color: rgba(255, 255, 255, 0.05);
    color: rgba(255, 255, 255, 0.8);
}

.shadow {
    position: absolute;
    top: 2px;
    left: 2px;
    z-index: -1;
    width: calc(100% / 3);
    height: 64px;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 1px;
    border-radius: 6px;
    transition: left 0.1s ease-in-out;
}

.shadow.dark {
    left: 75px;
}

.shadow.light {
    left: 2px;
}

.shadow.auto {
    left: 148px;
}
