.kanbanWrappingDiv{
    position: relative;
}

.inputDiv {
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    overflow: visible;
    position: relative;
}

.buttons, .kanbanButtons{
    margin-left: 8px;
    display: flex;
    flex-direction: row;
    column-gap: 8px;
}

.kanbanButtons{
    margin-top: 4px;
    margin-left: 88px;
}
