*,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    background-color: var(--page-bg-color);
    font-family: var(--font-inter), Helvetica, Arial, sans-serif;
}

main {
    display: flex;
    margin: 20px;
    gap: 20px;
}

button {
    display: flex;
    cursor: pointer;
    outline: none;
    background: none;
    border: none;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.no-scroll {
    overflow: hidden;
}
