*,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dark-primary: #1b1c1c;
    --dark-secondary: rgb(255 255 255 / 5%);
    --dark-text-primary: rgba(255, 255, 255, 0.8);
    --dark-text-secondary: rgba(255, 255, 255, 0.5);
    --popup-menu-bg-color: #272829;
}

body {
    height: 100%;
    background-color: var(--dark-primary);
    font-family: var(--font-inter), Helvetica, Arial, sans-serif;
}

main {
    display: flex;
    margin: 20px;
    gap: 20px;
}

button {
    display: flex;
    cursor: pointer;
    outline: none;
    background: none;
    border: none;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.no-scroll {
    overflow: hidden;
}
