.container {
    container-type: inline-size;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
    padding: 0 40px;
}

.createContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1 calc(100% / 3); 
    gap: 8px;
    max-width: calc((100% - 32px) / 3);
    min-width: 170px;
    height: 224px;
    border: 1px solid var(--box-border-color);
    border-radius: 12px;
    padding: 0;
    cursor: pointer;
    color: var(--text-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.createContainer:hover {
    border-color: var(--box-border-thick);
    color: var(--text-hover-color);
}

@container (max-width: 621px) and (min-width: 436px) {
    .createContainer {
        flex: 1 1 calc((100%) / 2); 
        max-width: calc((100% - 16px) / 2);
    }
}

@container (max-width: 435px) {
    .createContainer {
        flex: 1 1 100%; 
        max-width: 100%;
    }
}