.button{
  padding: 4px 6px;
  line-height: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 8px;
  height: 28px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
}

.clickedSmallButton{
  padding: 2px 4px;
  height: 20px;
  background-color: rgba(255, 255, 255, 0.1);
}