.button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 8px;
    border: none;
    outline: none;
    border-radius: 16px;
    color: rgb(255, 255, 255, 0.5);
}

.button:hover {
    background-color: rgb(255, 255, 255, 0.05);
    color: rgb(255, 255, 255, 0.8);
}

.icon {
    width: 12px;
    height: 12px;
}
