.button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    height: 28px;
    width: 28px;
    border: none;
    border-radius: 16px;
    color: var(--text-color);
    transition: background-color 0.1s ease-in-out 0s;
}

.button:hover {
    background-color: var(--button-bg-color);
    color: var(--text-hover-color);
    cursor: "pointer";
}

.button:focus-visible {
    background-color: var(--button-bg-color);
    color: var(--text-hover-color);
}

.button:active {
    background-color: var(--button-bg-color);
    transform: scale(0.95);
}
