.div {
    display: flex;
    width: 800px;
    height: 432px;
    border-radius: 24px;
    background-color: var(--item-bg-color);
    position: relative;
}

.leftSide {
    display: grid;
    width: 357px;
    height: 100%;
    border-radius: 24px 0 0 24px;
    padding: 24px 32px;
}

.title {
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    color: var(--text-hover-color);
}

.enterName {
    display: flex;
    flex-direction: column;
    width: 293px;
    height: 56px;
    border-radius: 16px;
    padding: 8px 16px;
    background: var(--hover-item-color);
}

.label {
    font-size: 12px;
    line-height: 16px;
    font-weight: 600;
    color: var(--text-color);
}

.input {
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    padding: 0;
    font-size: 16px;
    line-height: 24px;
    color: var(--text-hover-color);
}

.pickUpTitle {
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    color: var(--text-hover-color);
}

.pickUpText {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: var(--text-color);
    margin-bottom: 8px;
}

.btnDiv {
    border-radius: 14px;
    padding: 2px;
    background: var(--hover-item-color);
    cursor: pointer;
}

.checkButton {
    display: flex;
    width: 100%;
    height: 33px;
    border-radius: 12px;
    padding: 1rem 2rem;
    background-color: transparent;
    color: var(--text-color);
    font-size: 14px;
    align-items: center;
    justify-content: space-between;
}

.clicked {
    display: flex;
    width: 100%;
    height: 33px;
    border-radius: 12px;
    padding: 1rem 2rem;
    background-color: var(--selected-item-color);
    box-shadow: var(--box-shadow-color) 0px 1px 1px 0px;
    color: var(--text-hover-color);
    font-size: 14px;
    align-items: center;
    justify-content: space-between;
}

.cancelCreateContainer {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 8px;
    margin-top: 40px;
}

.rightSide {
    width: 100%;
    height: 100%;
    border-radius: 0 24px 24px 0;
    padding: 32px 0px 32px 40px;
    border-left: 1px solid var(--border-thin-color);
    background-color: var(--border-thin-color);
}

.rightSideText {
    width: 363px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: var(--text-hover-color);
    margin-bottom: 16px;
}

.itemsDiv {
    width: 100%;
    height: 312px;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    background-color: var(--hover-item-color);
    box-shadow: 
        var(--box-shadow-color) 0px 0px 24px 0px,
        var(--box-border-color) 0px 0px 0px 1px;
}

.list {
    list-style: none;
}

.item {
    border-bottom: 1px solid var(--border-thin-color);
}

.item:last-child {
    border: none;
}
