.wrapper {
    display: flex;
    gap: 50px;
}

.item {
    display: flex;
    flex-direction: column;
}

.title {
    margin-bottom: 10px;
    font-size: 1.5em;
    color: #fafafa;
    white-space: nowrap;
}
