.div {
    z-index: 10000;
    width: 224px;
    background-color: var(--item-bg-color);
    box-shadow:
        var(--box-shadow-color) 0px 4px 8px,
        var(--box-shadow-color) 0px 8px 24px,
        var(--box-border-color) 0px 0px 0px 1px;
    backdrop-filter: blur(1rem);
    border-radius: 12px;
    padding: 16px;
    opacity: 1;
}

.list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 4px;
    list-style: none;
    list-style-type: none;
}

.item {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
}

.item:hover,
.item:focus {
    background-color: var(--box-shadow-color);
}

.selectColor {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-bottom: 16px;
    position: relative;
}

.selectColor:hover {
    cursor: pointer;
}

.selectColor::after {
    content: " ";
    position: absolute;
    bottom: -10px;
    left: -15px;
    background: var(--border-thin-color);
    height: 1px;
    width: 224px;
}

.border {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle {
    width: 16px;
    height: 16px;
    border-radius: 50%;
}
