.item {
    width: 100%;
    background-color: transparent;
    height: 52px;
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 16px 0 16px 16px;
}
.icon{
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title,
.number {
    font-weight: 500;
    color: var(--text-color);
    font-size: 14px;
    line-height: 20px;
}
