.item{
    width: 100%;
    background-color: transparent;
    height: 52px;
    display: flex;
    gap: 16px;
    padding: 16px 0 16px 16px;
}

.title,
.number{
    font-weight: 500;
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-family: var(--font-inter), var(--font-roboto), var(--font-oxygen), var(--font-ubuntu), var(--font-cantarell), var(--font-fira-sans), -apple-system, BlinkMacSystemFont, "Segoe UI", Arial, sans-serif;
}