.container {
    margin: 100px;
}

.button {
    padding: 10px;
    cursor: pointer;
    color: var(--dark-text-secondary);
}

.button:hover {
    border-radius: 15px;
    background-color: var(--dark-secondary);
    color: var(--dark-text-primary);
}
