.conatiner {
    width: 400px;
    min-height: 276.6px;
    border-radius: 20px;
    /* background: rgb(39, 40, 41); */
    background: var(--item-bg-color);
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}
.inputContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    width: 100%;
    border-radius: 12px;
    background-color: var(--hover-item-color);
    /* background-color: rgba(255, 255, 255, 0.05); */
}
.input {
    width: 274.2px;
    background-color: transparent;
    outline: none;
    border: none;
    padding: 8px 16px;
    line-height: 24px;
    color: var(--text-hover-color);
    /* color: rgba(255, 255, 255, 0.8); */
    font-size: 16px;
    line-height: 24px;
}
.input::placeholder {
    color: var(--text-color);
    /* color: rgba(255, 255, 255, 0.5); */
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}
.sendBtn {
    font-size: 14px;
    line-height: 20px;
    height: 26px;
    margin: 7px;
    padding: 3px 7px;
    border-radius: 8px;
    color: var(--text-color);
    background-color: var(--hover-item-color);
    /* color: rgba(255, 255, 255, 0.5); */
    /* background-color: rgba(255, 255, 255, 0.05); */
}
.sendBtn:hover,
.copyLinkBtn:hover {
    color: var(--text-hover-color);
    background-color: var(--button-hover-color);
    /* color: rgba(255, 255, 255, 0.8);
    background-color: rgba(255, 255, 255, 0.1); */
}

.contactContainer {
    position: relative;
    left: 6px;
    width: 388px;
    min-height: 160px;
    max-height: 50vh;
    overflow-y: scroll;
    overflow-x: clip;
    padding: 8px 0;
    list-style: none;
    list-style-type: none;
    z-index: 1;
    scrollbar-color: var(--scrollbar-thumb-color) var(--scrollbar-track-color);
}
.conatiner::after {
    content: " ";
    /* background-color: rgba(255, 255, 255, 0.05); */
    background-color: var(--hover-item-color);
    height: 1px;
    width: 100%;
    position: absolute;
    bottom: 64px;
    left: 0;
}

.copyLinkBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 12px;
    height: 40px;
    width: 100%;
    padding: 9px;
    border: 1px solid var(--hover-item-color);
    /* border: 1px solid rgba(255, 255, 255, 0.05); */
    border-radius: 12px;
    /* color: rgba(255, 255, 255, 0.5); */
    color: var(--text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}

.menu {
    visibility: visible;
    width: 192px;
    height: 80px;
    padding: 4px;
    /* background-color: rgb(39, 40, 41); */
    background-color: var(--item-bg-color);
    box-shadow:
        rgba(0, 0, 0, 0.1) 0px 4px 8px,
        rgba(0, 0, 0, 0.1) 0px 8px 24px,
        var(--hover-item-color) 0px 0px 0px 1px inset;
    backdrop-filter: blur(8px);
    border-radius: 14px;
    position: absolute;
    z-index: 100;
}

.ediBtn,
.removeBtn {
    width: 100%;
    height: 36px;
    padding: 8px 12px;
    /* color: rgba(255, 255, 255, 0.5); */
    color: var(--text-color);
    border-radius: 8px;
    line-height: 20px;
}

.ediBtn:hover,
.removeBtn:hover {
    /* color: rgba(255, 255, 255, 0.8); */
    /* background-color: rgba(255, 255, 255, 0.05); */
    color: var(--text-hover-color);
    background-color: var(--hover-item-color);
}

.removeBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 25px;
}

.ediBtn {
    display: flex;
    align-items: center;
    gap: 16px;
}
