.container {
    position: relative;
    width: fit-content;
}

.menu {
    position: absolute;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    width: max-content;
    padding: 3px;
    background-color: var(--item-bg-color);
    color: var(--text-color);
    box-shadow:
        var(--box-shadow-color) 0px 4px 8px,
        var(--box-shadow-color) 0px 8px 50px,
        var(--box-border-color) 0px 0px 0px 1px;
    border-radius: 12px;
    font-size: 14px;
    font-weight: 400;
}

.menu.top {
    bottom: calc(100% + 4px);
    left: 0;
}

.menu.bottom {
    top: calc(100% + 4px);
    right: 0;
}

.menu.left {
    top: 0;
    right: calc(100% + 4px);
}

.menu.right {
    top: 0;
    left: calc(100% + 4px);
}

.menu .items {
    display: flex;
    flex-direction: column;
}

.menu .item {
    display: flex;
    align-items: center;
    padding: 8px 12px;
    gap: 12px;
    height: 36px;
    line-height: 1;
    color: var(--text-color);
    white-space: nowrap;
    text-decoration: none;
    cursor: pointer;
}

.menu .item:hover,
.menu .isActive {
    border-radius: 10px;
    font-weight: 400;
    background-color: var(--hover-item-color);
    color: var(--text-hover-color);
}
