.button {
    background: var(--popup-menu-bg-color);
    padding: 4px;
    border-radius: 15px;
    color: var(--dark-text-secondary);
}

.button:hover {
    background: var(--dark-secondary);
    color: var(--dark-text-primary);
}
