.conatiner {
    width: 400px;
    min-height: 276.6px;
    border-radius: 20px;
    background: rgb(39, 40, 41);
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}
.inputContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    width: 100%;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.05);
}
.input {
    width: 274.2px;
    background-color: transparent;
    outline: none;
    border: none;
    padding: 8px 16px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.8);
    font-size: 16px;
    line-height: 24px;
}
.input::placeholder {
    color: rgba(255, 255, 255, 0.5);
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}
.sendBtn {
    font-size: 14px;
    line-height: 20px;
    height: 26px;
    margin: 7px;
    padding: 3px 7px;
    border-radius: 8px;
    color: rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.05);
}
.sendBtn:hover,
.copyLinkBtn:hover {
    color: rgba(255, 255, 255, 0.8);
    background-color: rgba(255, 255, 255, 0.1);
}

.contactContainer {
    position: relative;
    left: 6px;
    width: 388px;
    min-height: 160px;
    max-height: 50vh;
    overflow-y: scroll;
    overflow-x: clip;
    padding: 8px 0;
    list-style: none;
    list-style-type: none;
}
.contactContainer::-webkit-scrollbar {
    background-color: rgba(255, 255, 255, 0.05);
}
.contactContainer::-webkit-scrollbar-button{
    background-color: rgba(255, 255, 255, 0.1);
}
.contactContainer::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.1);
}
.contactContainer::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.2);
}
.contactContainer::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.05);
  }
.conatiner::after {
    content: " ";
    background-color: rgba(255, 255, 255, 0.05);
    height: 1px;
    width: 100%;
    position: absolute;
    bottom: 64px;
    left: 0;
}

.copyLinkBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 12px;
    height: 40px;
    width: 100%;
    padding: 9px;
    border: 1px solid rgba(255, 255, 255, 0.05);
    border-radius: 12px;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}
