.div {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 112px;
    height: 28px;
    padding: 2px;
    border-radius: 14px;
    background: var(--hover-item-color);
    cursor: pointer;
}

.container1,
.container2,
.container3 {
    position: relative;
    z-index: 100;
    color: var(--text-color);
    padding: 6px 12px;
}

.container1:hover,
.container1:focus,
.container2:hover,
.container2:focus,
.container3:hover,
.container3:focus {
    color: var(--text-hover-color);
}

.container {
    position: relative;
    z-index: 100;
    color: var(--text-color);
    padding: 6px 12px;
}

.shadow {
    position: absolute;
    z-index: 10;
    top: 2px;
    left: 2px;
    width: 36px;
    height: 25px;
    border-radius: 16px;
    background-color: var(--active-item-color);
    box-shadow: var(--box-shadow-color) 0px 1px 1px;
    transition: left 0.1s ease-in-out;
}

.shadow.midle {
    top: 2px;
    left: 38px;
}

.shadow.right {
    top: 2px;
    left: 74px;
}
