.navigationButton,
.navigationButtonLight {
    width: 48px;
    height: 48px;
    border-radius: 10px;
    transition: background-color 150ms ease 0s;
    align-items: center;
    justify-content: center;
}

.navigationButton {
    color: rgba(0, 0, 0);
    position: absolute;
    top: 28px;
}

.navigationButtonLight {
    color: rgb(111, 113, 122);
    position: absolute;
    top: 8px;
}

.left {
    left: 8px;
}

.right {
    right: 8px;
}

.navigationButton:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.navigationButtonLight:hover {
    background-color: rgba(0, 0, 0, 0.2);
}
