.container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 1px 30px 24px 30px;
    gap: 16px;
}

.createContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% / 3 - 32px);
    height: 224px;
    border: 1px solid var(--box-border-color);
    border-radius: 12px;
    padding: 0;
    gap: 8px;
    color: var(--text-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    cursor: pointer;
}

.createContainer:hover {
    border-color: var(--box-border-thick);
    color: var(--text-hover-color);
}